<% content_for :title do %>My awesome dashboard<% end %>
<div class="gridster">
  <ul>

    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="ice_scrum" data-view="Icescrum" data-suffix="%"  data-title="Sprint Progress" data-min="0" data-max="100"></div>
    <i class="icon-signal icon-background"></i>
  </li>

  </ul>

</div>
